body {
  background-image:url("background.jpeg");
  background-attachment: fixed;
  font-family: sans-serif;
}

h1 {
  font-size: 500px;
  color: red;
}

h2 {
  font-size: 60px;
}
/* ---------------------------------------- NAV BAR CSS ----------------------------------------*/
#nav1 {
  background-color: rgba(80,80,80,0);
  color: white;
}

.navbar-nav {
  width:95%
}

.nav-link, .navbar-brand {
  color: white;
}

.nav-link:hover {
  background-color: rgba(255,255,255,0.9);
  color: black;
}

.nav-item {
  padding-left: 30px;
  padding-right: 30px;
}
/* ---------------------------------------- NAV BAR CSS^^^^^ ----------------------------------------*/

#first-box {
  padding-top: 80px;
  min-height: 90vh;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Courier New', sans-serif;
}
#about-box {
  position: relative;
  font-family: 'Courier New', sans-serif;
  color: black;
  padding-top: 80px;
}

#about-jumbo {
  margin: 0 auto;
  height: 500px;
  background-color: rgba(233,233,233,0.8)
}

#resume-box {
  color: white;
  position: relative;
  padding-top: 80px;
}

#resume-word {
  text-align: center;
  font-size: 70px;
  background-color: rgba(233,233,233,0.8);
  margin-bottom: 50px;
}

}
#resume-head {
  margin: 50px;
  text-align: center;
  justify-content: center;
  display: flex;


}

#big-jumbo {
  margin: 0 auto;
  height: 650px;
  background-color: rgba(233,233,233,0.8);


}

#panalpina-jumbo {

  height: 500px;
  background-color: rgba(153, 179, 255)


}
#pwc-jumbo {
  margin: 0 auto;
  height: 500px;
  background-color: rgba(153, 179, 255)

}


.panalpina {
  font-size: 40px;
  color: rgb(0, 64, 255);
}

.pwc {
  font-size: 40px;
}
.text {
  font-size: 25px;
  font-family: 'Courier';
  font-weight: Lighter;
}
.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
