body {
  background-image:url("background.jpeg");
  background-attachment: fixed;
  font-family: sans-serif;
}

h1 {
  font-size: 60px;
  color: white;
}

h2 {
  font-size: 60px;
  color: rgb(213,167,164);

}

li {
  margin: 15px;
}
/* ---------------------------------------- NAV BAR CSS ----------------------------------------*/
#nav1 {
  background-color: rgba(80,80,80,0);
  color: white;
}

.navbar-nav {
  width:95%
}

.nav-link, .navbar-brand {
  color: rgb(213,167,164);

}

.nav-link:hover {
  background-color: rgba(255,255,255,0.9);
  color: black;
}

.nav-item {
  padding-left: 30px;
  padding-right: 30px;
}
/* ---------------------------------------- NAV BAR CSS^^^^^ ----------------------------------------*/

#first-box {
  padding-top: 80px;
  min-height: 90vh;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Courier New', sans-serif;
}
#about-box {
  position: relative;
  font-family: 'Courier New', sans-serif;
  color: black;
  padding-top: 80px;
}

#about-jumbo {
  margin: 0 auto;
  min-height: 80vh;
  background-color: rgba(153,77,72,0.8)
}

#resume-box {
  color: white;
  position: relative;
  padding-top: 80px;
}

#resume-word {
  text-align: center;
  font-size: 70px;
  background-color: rgba(233,233,233,0);
  margin-bottom: 50px;
}

}
#resume-head {
  text-align: center;
  justify-content: center;
  display: flex;
}

#big-jumbo {
  margin: 0 auto;
  min-height: 70vh;
  background-color: rgba(204,103, 96, 0.8);
  padding-top: 10px;

}

#panalpina-jumbo {
  padding: 20px;
  list-style: none;
}
#pwc-jumbo {
  padding: 20px;
  list-style: none;
}

.resume-text {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: Lighter;
  list-style: none;
}

.resume-top {
  color: rgb(77,39,36);
  font-size: 30px;
  font-family: courier;
}

.panalpina, .pwc {
  font-size: 30px;
  color: white;
  font-family: "Courier";
  background-color:rgba(0,0,0,0);
}

.panalpina:hover, .panalpina[aria-expanded="true"] {
  background-color: rgb(51, 133, 255);
}

.pwc:hover, .pwc[aria-expanded="true"] {
  background-color: rgb(255, 179, 128);
}

.text {
  font-size: 25px;
  font-family: 'Courier';
  font-weight: Lighter;
  color: white;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
